.sidebar {
  width: 300px;
}
.sidebar__header {
  width: full;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.sidebar__header__two {
  display: flex;
  width: 80px;
  justify-content: space-between;
}
